
/* ----- Header ----- */
.logo {
    font-weight: 600;
    font-size: 3rem;
    color: #ff99c8;
    text-decoration: none;
    width: 100%;
    float: left;
    letter-spacing: .2rem;
    margin-top: .3rem;
    margin-right: auto;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

.navbar-light .navbar-nav .nav-link { 
    color: #e4c1f9;
    font-weight: 500;
    font-size: 1.2rem;
    padding-right: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #a9def9;
    font-weight: 600;
}

.navlink .highlight a {
    color: #e4c1f9;
    font-weight: 600;
}

.float-right {
    float: right;
}


.uppercase {
    text-transform: uppercase;
}

/* --------- Hero Image --------- */

.hero-image {
    background: url("../images/hero-image.jpg") no-repeat;
    position: relative;
    background-size: cover;
    height: 60vh;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0 auto;
    justify-content: center;
    display: block;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    z-index: 1;
    background-position: 30% 100%;
}

.hero-image-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* --------- About --------- */

.about {
   
}

/* --------- Game --------- */

.card {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    cursor: pointer;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    box-shadow: none;
} 
.card:hover {
    box-shadow: 0px 0px 0px 1px black;
    box-sizing: border-box;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.black {
    background-color: black;
}
.cyan {
    background-color: cyan;
}
.orange {
    background-color: orange;
}
.pink {
    background-color: pink;
}

.color-hidden {
    background-color: #eee;
}

.game {
    margin-top: 4rem;
    position: center;
}

/* --------- footer --------- */

.footer {
    margin-top: 3rem;
    background-color: #e4c1f9;
}

.footer a {
    color: #eee;
}

.footer li {
    padding-right: 2rem;
}
