@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: "Architects Daughter", cursive, sans-serif;
}

/* ----- Header ----- */
.logo {
    font-weight: 700;
    font-size: 3rem;
    color: #133c55;
    text-decoration: none;
    width: 100%;
    float: left;
    letter-spacing: .5rem;
    margin-top: .3rem;
    margin-right: auto;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

.navbar-light .navbar-nav .nav-link { 
    color: #386fa4;
    font-weight: 600;
    font-size: 1.2rem;
    padding-right: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #59a5d8;
    font-weight: 600;
}

.navlink .highlight a {
    color: #59a5d8;
    font-weight: 600;
}

.float-right {
    float: right;
}

.uppercase {
    text-transform: uppercase;
}

/* --------- Hero Image --------- */

.hero-image {
    background: url("../images/hero-image.jpg") no-repeat;
    position: relative;
    background-size: cover;
    height: 70vh;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0 auto;
    justify-content: center;
    display: block;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    z-index: 1;
    background-position: 30% 100%;
}

.hero-image-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* --------- Game --------- */

.card {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    cursor: pointer;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    box-shadow: none;
} 
.card:hover {
    box-shadow: 0px 0px 0px 1px black;
    box-sizing: border-box;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.black {
    background-color: black;
}
.cyan {
    background-color: cyan;
}
.orange {
    background-color: orange;
}
.pink {
    background-color: pink;
}

.color-hidden {
    background-color: #eee;
}

.game {
    padding: 10rem 0;
    width: 100%;
}

.gamep {
    padding-top: 3rem;
}

/* --------- About --------- */

.about {
    background-color: #e7ecef;
    padding: 3rem 0;
}

.about h3 {
    color: #386fa4;
}


/* --------- Top Players --------- */

#map {
    height: 25rem;
    width: 100%;
}

.players {
    padding: 3rem 0;
}

/* --------- footer --------- */

.footer {
    margin-top: 3rem;
    background-color: #59a5d8;
    padding: 1rem;
}

.footer a {
    color: #eee;
}

.footer li {
    padding-right: 2rem;
}

.center {
    text-align: center;
}

.footer li i:hover {
    color: #133c55;
}

/* --------- General --------- */

body {
    background-color: #f8f7ff;
}

.heading {
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 4rem;
    font-weight: 600;
    color: #133c55;
}

